@font-face {
    font-family: "lato";
    font-weight: bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: norse;
    src: url(../fonts/Norse-Bold.otf) format("opentype");
}

:root {
    --red-color: rgb(218, 93, 22)
}

body {
    display: flex;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "lato";
    font-weight: bold;
    font-size: 1.2em;
}

header {
    background-image: url("../img/arch.jpg");
    background-position: 20% 0%;
    width: clamp(20rem, 40vw, 30rem);
    height: 100vh;
}
header div {
    height: 5rem;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 5rem;
    background-color: rgba(26, 26, 26, 0.8);
    color: white;
    margin-top: 30vh;
    font-size: 5rem;
    border: 0;
}

header div img {
    margin-right: 2rem;
    flex: 1;
    height: 100%;
    width: auto;
    opacity: 100;
}

header div span {
    font-family: "norse";
}

main {
    background-color: rgb(235, 235, 235);

}

.container {
    margin-top: 10vh;
}

main p,
fieldset,
button {
    margin-left: 3rem;
    margin-right: clamp(3rem, 33%, 10rem);
    margin-top: 0;
    min-width:540px;
}

.form-wrapper {
    background-color: rgb(255, 255, 255);
    padding: 1rem 0;
    margin-top: clamp(1rem,5vh,3rem);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)

}

fieldset {
    border: none;
    display: flex;
    gap:2rem;
    padding: 0;

}

fieldset div {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    margin-top: 1rem;
}

label {
    font-weight: 200;
    font-size: 0.5em;
    
}

input {
    border: rgb(26,26,26) 1px solid;
    border-radius:5px;
    box-sizing: border-box;
    padding: 4px 10px;
    outline: none;
}

input:focus {
    border: rgb(86, 170, 238) 4px solid;
    padding: 1px 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)
}

input:invalid {
    border: var(--red-color) 3px solid;
    padding: 2px 8px;

}

button {
    margin-top:1.5rem;
    min-width: 5rem;
    padding: 0.6rem 5rem;
    color:white;
    background-color: var(--red-color);
    border-radius: 0.5em;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)

}



@media only screen and (max-width: 950px) {
    fieldset {
      flex-direction: column;
      gap: 0;
    }
    .container {
        margin-top: 3vh;
    }
  }